* {

font-family: 'Rajdhani', sans-serif;
	
}

html {
	height:100%;
	width:100%;
}

body{
	
	background-position:center center;
	background-repeat: no-repeat;
	background-size:auto;
    margin-top: 2.5em;
	height:100%;
	width:100%;
    	
}

#main{
	-webkit-animation: myFadeInAnimation 1.3s;
	-moz-animation: myFadeInAnimation 1.3s;
	-ms-animation: myFadeInAnimation 1.3s;
	-o-animation: myFadeInAnimation 1.3s;
	animation: myFadeInAnimation 1.3s;
}

@keyframes myFadeInAnimation {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes myFadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Permet de mettre en valeur les icones lors du survol de la souris */
.icone img{
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

.icone:hover img{
	
	-webkit-transform:scale(1.55); /* Safari and Chrome */
    -moz-transform:scale(1.55); /* Firefox */
    -ms-transform:scale(1.55); /* IE 9 */
    -o-transform:scale(1.55); /* Opera */
     transform:scale(1.55);
	 border: 1px solid white; 
	border-radius:4px;
}

.inactive, #dig_menu, #ctc_menu{
	font-weight:normal;
	-webkit-transition: all 0.24s ease; /* Safari and Chrome */
    -moz-transition: all 0.24s ease; /* Firefox */
    -ms-transition: all 0.24s ease; /* IE 9 */
    -o-transition: all 0.24s ease; /* Opera */
    transition: all 0.24s ease;
}

#dig_menu:hover, #ctc_menu:hover, #dig_menu:active, #ctc_menu:active, #dig_menu:target, #ctc_menu:target,
#dig_menu:focus, #ctc_menu:focus, .inactive:hover, .inactive:active, .inactive:target, .inactive:focus{
	font-weight:bold;
}

.bckg_flag img{
	text-align:center;
	z-index:200;
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

.bckg_flag .text_flag{
	opacity:0;
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

.bckg_flag:hover .text_flag{
	opacity:1;
}

.bckg_flag:hover img{
	-webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
     transform:scale(1.4);
	
}

.text_flag{
	position:absolute;
	top:17px;
	right:15.3px;
	font-size:19px;
	color: #66EFFF;
	font-weight:900;
	text-shadow: 0 0 0.5px #000000, 0 0 0.5px #000000, 0 0 0.5px #000000, 0 0 0.5px #000000, 0 0 0.5px #000000;
}

.navbar-brand {
  padding: 0px;
}

.navbar-inverse {
    
  border-color: #E7E7E7;
}

.navbar-brand img {
  background-color:#222;
  background-image:linear-gradient(to right, #222, rgba(255,255,255,0));
  -webkit-transition:background-color 0.5s; /* Safari and Chrome */
  -moz-transition:background-color 0.5s; /* Firefox */
  -ms-transition:background-color 0.5s; /* IE 9 */
  -o-transition:background-color 0.5s; /* Opera */
  transition:background-color 0.5s;
	
  height: 100%;
  padding: 1px;
  width: auto;
  
  

}

.navbar-brand:hover img{
	background-color:#666;
	
}

.doc a {
	
}

.doc ul{
	padding-left:0px;
	list-style: none;

}

.doc ul li{
	border: 1px solid black;
	border-radius:4px;
	width:270px;
	display:inline;
	padding: 12px 10px;
	margin-right:25px;
	margin-bottom:10px;
	float:left;
	text-align:left;
	transition: 200ms ease-in-out;
}

.doc ul li:hover, .doc ul li:focus, .doc ul li:active{
	border: 1px solid #0080E1;
	color: #0080E1;
}

.titlepage {
  width: auto;	
}

.row_doc {
	width:75%;
}

.row_doc a {
  color:black;
  text-decoration:none; 

}

.row_doc h2, .row_doc h4 {
  text-align:left;
  color : black;

}

footer {

    background-color: #F3F3F3;
    
    bottom: 0; 
    left: 0; 
    right: 0;
  }